# Python
.venv/
venv/
env/
__pycache__/
**/__pycache__/
*.py[cod]

# Environment variables
.env

# Node.js
node_modules/

# Build
dist/
build/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log